name: Builds and Tests

on:
  push:
    branches: '*'
    paths-ignore:
    - README.md
    - LICENSE
    - CONTRIBUTING.md
    - .gitignore
    - '.github/**'
    - '!.github/workflows/rust.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux_x64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --verbose

    - name: Move the executable to data folder
      run: mv target/release/scripter data/linux/scripter
    - name: Copy common data to data folder
      run: cp -r data/common/* data/linux/
    - name: Upload linux artifacts
      uses: actions/upload-artifact@v3
      with:
        name: scripter-Linux-x64
        path: data/linux/*

  build_windows_x64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --verbose

    - name: Add windows icon
      run: cargo rustc --release -- -C link-args="res/resources.res"
    - name: Move the executable to data folder
      run: mv target/release/scripter.exe data/windows/scripter.exe
    - name: Copy common data to data folder
      run: cp -r data/common/* data/windows/
    - name: Upload Windows artifacts
      uses: actions/upload-artifact@v3
      with:
        name: scripter-Windows-x64
        path: data/windows/*

  build_macos_arm:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup toolchain install stable --profile minimal
    - uses: Swatinem/rust-cache@v2
    - name: Set up arm target
      run: rustup target add aarch64-apple-darwin
    - name: Build
      run: |
        SDKROOT=$(xcrun -sdk macosx13.1 --show-sdk-path)
        MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx13.1 --show-sdk-platform-version)
        cargo build --release --target=aarch64-apple-darwin
    - name: Run tests
      run: cargo test --release --verbose

    - name: Move the executable to data folder
      run: mv target/aarch64-apple-darwin/release/scripter data/linux/scripter
    - name: Copy common data to data folder
      run: cp -r data/common/* data/linux/
    - name: Upload macOS artifacts
      uses: actions/upload-artifact@v3
      with:
        name: scripter-MacOS-arm
        path: data/linux/*
